    .flexbox {
        display: flex;
    }
    
    .shopcart {
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
    
    .shopcart>div {
        width: 100%;
        text-align: center;
        background-color: $brand-starcolor;
        color: #fff;
        line-height: 50px;
    }
    
    .card {
        padding: 1em;
        background-color: #fff;
        font-size: 12px;
        margin-top: 10px;
    }
    
    .list,
    .list2 {
        list-style: none;
        overflow: hidden
    }
    
    .list>li {
        text-align: left;
    }
    
    .list2 {
        padding: 10px;
        margin-top: 10px;
        background-color: #fff;
    }
    
    .list2>li {
        width: 45%;
        float: left;
        font-size: 14px;
    }
    
    .cell-button {
        height: 25px;
        background: #fff;
        border: 1px solid #ddd;
        padding: 0 10px;
        vertical-align: middle
    }
    
    .cell-input {
        height: 20px;
    }
    
    .more {
        font-size: 14px;
        color: $brand-color;
    }
    
    .dialog-demo {
        .weui-dialog {
            text-align: left;
            border-radius: 3px;
            // padding-bottom: 8px;
        }
        .dialog-title {
            padding: 5px 15px;
            line-height: 30px;
            color: #fff;
            font-size: 17px;
            background-color: $brand-color;
            .vux-close {
                float: right;
                margin: 4px 0 0;
                color: #fff;
            }
        }
        .img-box {
            max-height: 350px;
            overflow: hidden;
        }
        .vux-checker-item {
            display: block;
        }
        .list {
            padding: 0 .75em;
            li {
                width: 50%;
                padding: 5px 0;
                float: left;
                font-size: 14px;
            }
            li.nowrap {
                width: 100%;
            }
        }
        .position_input {
            display: inline-block;
            padding: 0;
            width: 40px;
        }
    }
    
    .cargoList .weui-check_label {
        font-size: 12px;
    }
    
    .cargoList .vux-label-desc {
        font-size: 12px;
    }